<div  class="col m4 s12 Nomargin portafolio">
	<div class="showreveal">
		<img class=" responsive-img  " src="img/demo.jpg">
		<div class="revealData">
			<div class="  section   margin-top20 ">
				<h3 class="black opacity5 tCenter grid 	"> title </h3>
				<div class=" paddingText opacity5 black  tCenter text-white">let's drink a coffee cup with your ideas</div>	
			</div>
			
		</div>
		
	</div>

</div>
