    <!DOCTYPE html>
    <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="//fonts.googleapis.com/css?family=Merriweather:300,700,900,300italic,400,400italic,700italic,900italic" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet">


      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700">
      <title><%= title %></title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link rel="stylesheet" type="text/css" href="/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="/css/keyframes.css">
      <link rel="stylesheet" type="text/css" href="/css/settings.css">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <link rel="stylesheet" type="text/css" href="/css/text.css">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    </head>

    <body>
      <main>
        <% include partials/nav %>
        <%- body %>
      </main>
      <% include partials/footer %>

      <% include  partials/scripts %>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script src="/js/particles.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
      

      <script>
        AOS.init();
        let idParticle = document.getElementById('containerParticles');
        let scrollbars = document.querySelectorAll('.WithScroll');
        if(idParticle){
          particlesJS.load('containerParticles', '/js/particles.json');  
        }      
      </script>

      <!-- Initialize Swiper -->
      <script>
        var swiperUno = new Swiper('.swiper-container', {
          direction: 'vertical',
          mousewheel: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          scrollbar: {
            el: '.swiper-scrollbar',
            hide: false,
          },
        });

        var swiperDos = new Swiper('.swiper-container2', {
          direction: 'horizontal',
          mousewheel: true,
          pagination: {
            el: '.swiper-pagination2',
            clickable: true,
          },
          scrollbar: {
            el: '.swiper-scrollbar',
            hide: false,
          },
        });

        var controlsMove ={
          move : false,
          init : null,
          finish: null,
          reset : function(){
            this.init = null;
            this.finish =null;
            this.move = false;
            console.log('reset');
          },
          setTurns : function(init , finish){
            if(this.init === null && this.finish === null ){
              
              this.init = init;
              this.finish = finish;
              this.move = true;              
              this.makeMove(this.init.activeIndex);
            }       
          },

          seeinfo: function(){
            console.log(this.init.$wrapperEl[0].id);
            console.log(this.finish.$wrapperEl[0].id);
          },
          makeMove : function(index){
         
            if(this.move ){
                this.finish.slideTo( index ,500, false);
                this.reset();
                this.move = false;
                
            }

          }

        }

        swiperUno.on('slideChange', function (event) {
          console.log('Uno');
          controlsMove.setTurns(swiperUno, swiperDos);
          
        });

        swiperDos.on('slideChange', function (event) {
          console.log('Dos');
          controlsMove.setTurns(swiperDos, swiperUno);
          

        });
      </script>

    </body>
    </html>