body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav, footer,.page-footer  {
	background-color: var(--main-color);
	
}

.max-height{
	height: 100%;
}

.radios20{
	border-radius: 20px;
}

