@font-face{
	font-family: "SanFranciscoBlack";
	src: url("../fonts/SanFranciscoDisplay-Medium.otf");
}


.LHead{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

.SHead{
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.MHead{
	font-family: times, Times New Roman, times-roman, georgia, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.tP{
	font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 14px;
	margin-top: .5em; color: #666;
}

p:first-letter{
	text-transform: uppercase;
}



.img-title{
	font-size: 32px;
	line-height: 1.125;
	font-weight: 700;
	letter-spacing: .003em;
	font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.tCapi{
	text-transform: uppercase;
}

.tMini{
	text-transform: lowercase;
}

.tb{
	font-weight: bolder !important;
}

.tCenter{
	text-align: center;
}

.tLeft{
	text-align: left;
}

.tLeft{
	text-align:right;
}


.FLDosis{
	font-family: Dosis, serif;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}

.FSDosis{
	font-family: Dosis;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.FMDosis{
	font-family: Dosis, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.tPSan{
	font-family: "Dosis", sans-serif;
	font-size: 14px;
	margin-top: .5em; color: #666;
}


.FLSan{
	font-family: SanFranciscoBlack, serif;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
	
}

.FLSan span::first-letter { 
  font-size: 120% !important;
  text-transform: capitalize;
  color: red;
}

.FSSan{
	font-family: SanFranciscoBlack;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.FMSan{
	font-family: SanFranciscoBlack, serif;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;color: #444;
}

.tPDosis{
	font-family: SanFranciscoBlack, sans-serif;
	font-size: 14px;
	margin-top: .5em; 
	color: #666;
}
